/* TITLE DECOR BEFORE DIVISON 4 */
    .title {
        position: absolute; 
        display: flex;
        justify-content: center;
        width: 100%;
        z-index: 0;
    }

    .title .text {
        margin: 10rem auto;
    }

    .title .text h1 {
        /* white-space: nowrap; */
        z-index: -1;
        font-size: clamp(5rem, 22vw, 32rem);
        color: #ffffff;
        opacity: 0.8;
    }

/* TITLE DECOR BEFORE DIVISON 4 */

.div4 {
    margin: 15px auto;
    width: 75%;
    max-width: 1750px;
}

.div4 .container2 {
    margin: 20px auto;
}

.div4 .container2 .NP {
    color: rgb(255, 255, 255);
    border-radius: 25px;
    max-width: 1750px;

    /* background-color: #1b1b1b; */
    /* background-image: linear-gradient(to bottom right, rgb(30, 43, 165), rgb(48, 48, 48)); */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    position: relative;
    gap: 60px;
}

.div4 .container2 .NP .card {
    margin-top: 25px;
    max-width: 275px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(35.5px);
    -webkit-backdrop-filter: blur(35.5px);
}

.div4 .container2 .NP .card .button{
    display: flex;
    justify-content: center;
    height: 25%;
}

.div4 .container2 .NP .card .text {
    display: block;
    margin: auto;
    padding: 2px 0;
    text-align: justify;
}

.div4 .container2 .NP .card img {
    width: 275px;
    object-fit: cover;
    height: auto;
}

.div4 .container2 .NP .card h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    text-align: center;
    font-size: 24px;
}

.div4 .container2 .NP .card p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-justify: inter-word;
}

.div4 .container2 .NP .card .text p {
    line-height: 1.3;    /* Improves readability */
}


@media (max-width: 1355px) {
    .div4 {
        margin: 15px auto;
        width: 75%;
    }

    .div4 .container2 {
        display: flexbox;
    }

    .div4 .container2 .NP {
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 20px;

        display: flexbox;
        grid-template-columns: repeat(auto-fit, minmax(300px, 5px));
        justify-content: center;
        position: relative;
        gap: 75px;
    }

    .div4 .container2 .NP .card {
        margin-top: 25px;
        max-width: 300px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(35.5px);
        -webkit-backdrop-filter: blur(35.5px);
    }

    .div4 .container2 .NP .card .button{
        display: flex;
        justify-content: center;
        height: 25%;
    }

    .div4 .container2 .NP .card .text {
        display: block;
        margin: auto;
        padding: 2px 0;
        text-align: justify;
    }

    .div4 .container2 .NP .card img {
        width: auto;
        object-fit: cover;
        height: auto;
    }

    .div4 .container2 .NP .card h2{
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        text-align: center;
        font-size: 24px;
    }

    .div4 .container2 .NP .card p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-justify: inter-word;
    }

}

@media (max-width: 1250px) {

    .div4 .container2 .NP {
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 20px;

        display: flexbox;
        grid-template-columns: repeat(auto-fit, minmax(300px, 5px));
        justify-content: center;
        position: relative;
        gap: 75px;
    }

    .div4 .container2 .NP .card {
        margin-top: 25px;
        max-width: 280px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(35.5px);
        -webkit-backdrop-filter: blur(35.5px);
    }

}

@media (max-width: 600px) {

    .div4 .container2 .NP .card {
        margin-top: 25px;
        max-width: 250px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(35.5px);
        -webkit-backdrop-filter: blur(35.5px);
    }
}

@media (max-width: 450px) {

    .div4 .container2 .NP .card {
        margin-top: 25px;
        max-width: 250px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;

        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(35.5px);
        -webkit-backdrop-filter: blur(35.5px);
    }
}

    /* .div4 {
        margin: 15px auto;
        width: 75%;
    }

    .div4 .container2 {
            margin: 20px auto;
        }

    .div4 .container2 .NP {
        color: rgb(255, 255, 255);
        border-radius: 25px;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
        position: relative;
        gap: 75px;
    }

    .div4 .container2 .NP .card {
        margin-top: 25px;
        max-width: 275px;
        width: 100%;
        padding: 25px;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        flex-direction: column;
        height: fit-content;
        background: rgba(255, 255, 255, 0.08);
        border-radius: 16px;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(35.5px);
        -webkit-backdrop-filter: blur(35.5px);
    }

    .div4 .container2 .NP .card .button{
        display: flex;
        justify-content: center;
        height: 25%;
    }

    .div4 .container2 .NP .card .text {
        display: block;
        margin: auto;
        padding: 2px 0;
        text-align: justify;
    }

    .div4 .container2 .NP .card img {
        width: 275px;
        object-fit: cover;
        height: auto;
    }

    .div4 .container2 .NP .card h2, a{
        font-family: Arial, Helvetica, sans-serif;
        margin: auto;
        text-align: center;
        font-size: 24px;
    }

    .div4 .container2 .NP .card p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-justify: inter-word;
    } */