.parent {
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

.div1 { grid-area: 1 / 2 / 2 / 5; }
.div2 { grid-area: 2 / 2 / 3 / 5; }
.div3 { grid-area: 3 / 2 / 4 / 5; }
.div4 { grid-area: 4 / 2 / 5 / 5; }
.div5 { grid-area: 5 / 2 / 6 / 5; }

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
}

a:hover {
    color: rgb(50, 122, 231);
}

body {
    /* background-image: linear-gradient(to bottom, rgb(134, 134, 134), rgb(22, 22, 22)); */
    /* background-color: #1b1b1b; */
    margin: 0;
    /* background-image: linear-gradient(to bottom, rgb(85, 85, 85), rgb(22, 22, 22), rgb(11, 17, 73)); */
    background-image: linear-gradient(to bottom, rgb(44, 44, 44), rgb(22, 22, 22), rgb(11, 17, 73));
}

/* DIVISION 1 */
        .text-box h2 span {
            color: rgb(50, 122, 231);
            font-size: 32px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-style: normal;
            cursor: default;
        }

        .div1 {
            font-family: Arial, Helvetica, sans-serif;
            width: 75%;
            margin: auto;
            display: flex;
            justify-content: center;
        }

        .div1 .card p{
            font-size: 28px;
            font-family: "Ubuntu", sans-serif;
            font-weight: 400;
            font-style: normal;
            cursor: default;
        }

        .div1 .card h1{
            /* font-size: 56px; */
            font-size: clamp(2.5rem, 42px, 56px);
            cursor: default;
        }
        
        .container {
            /* margin-top: 15px; */
            margin-top: 75px;
            /* background-color: #272727; */
            background-image: linear-gradient(to bottom left, rgb(58, 58, 58), rgb(8, 8, 8));
            color: white;
            width: 100%;
            max-width: 1750px;
            height: 700px;
            min-height: 600px;
            padding: 10px;

            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 50px;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        }

        .imgholder{
            width: 40%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .card {
            width: auto;
            /* text-align: left; */
        }

        .div1 img {
            /* border-radius: 500px; */
            position: relative;
            clip-path: circle();
            width: 500px;
            height: auto;
            overflow: hidden;
        }

        @media (max-width:1050px) {
            .div1 .container {
                /* margin-top: 15px; */
                margin-top: 75px;
                /* background-color: #272727; */
                background-image: linear-gradient(to bottom left, rgb(58, 58, 58), rgb(8, 8, 8));
                color: white;
                width: 100%;
                max-width: 1750px;
                height: 700px;
                min-height: 600px;
                padding: 10px;
                display: block;
                justify-content: center;
                border-radius: 50px;
                box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
            }

            .imgholder{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .div1 img {
                position: relative;
                clip-path: circle();
                width: clamp(14rem, 25vw, 35rem);
                height: auto;
            }

            .card {
                width: 100%;
                display: flexbox;
                text-align: center;
                /* text-align: left; */
            }
        }

    /* DOWN ARROW */
        .down-arrow {
            display: flex;
            justify-content: center;
            margin: 70px auto;
        }

        .down i {
        font-size: 32px;
        color: #ffffff;
        border: 2px solid #ffffff;
        border-radius: 50px;
        padding: 12px 12px;
        }

        .down i:hover {
        background-color: #ffffff;
        color: rgb(17, 17, 17);
        transition: all .42s ease;
        }

/* Division 2 */
    .div2 {
        margin: 50px auto;
        width: 75%;
        display: flex;
        justify-content: center;
    }
        .div2 .container1 {
            color: #ffffff;
            max-width: 1750px;
            /* background-color: #1b1b1b; */
            background-image: linear-gradient(to bottom left, rgb(43, 43, 43), rgb(7, 7, 7));
            border-radius: 25px;
            padding: 20px;
            justify-content: center;
            align-items: center;
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.8);
        }

        .div2 .container1 h1 {
            font-size: 32px;
            display: flex;
            justify-content: center;
            color: rgb(50, 122, 231);
        }

        .div2 .container1 p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: large;
            font-size: 18px;
        }
    
    /* Division 3 */
    /* SEE CAROUSEL.CSS */
    
/* DIVISION 4 */
/* see div4.css */

/* DIVISION 5 */
.div5 {
    display: flex;
    justify-content: center;
}

.div5 h1{
    position: absolute;
    white-space: nowrap;
    z-index: -1;
    font-size: clamp(3rem, 18vw, 22rem);
    color: #ffffff;
    opacity: 1;
    line-height: 1;
    display: flex;
    justify-content: center;
}

.div5 .container3 {
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.414);
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(35.5px);
    -webkit-backdrop-filter: blur(35.5px);;
}

.div5 .container3 .contact{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.div5 .container3 .social{
    padding-top: 25px;
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.div5 .container3 .social i {
    color: #ffffff;
    font-size: 32px;
}

.div5 .container3 .social i:hover {
    color: rgb(50, 122, 231);
    font-size: 32px;
}


@media (max-width: 1050px) {
    .div5 .container3 .contact{
    width: 75%;
    display: flexbox;
    justify-content: center;
    }

    .div5 .container3 .social{
    padding-top: 25px;
    width: 45%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    }
}

@media (max-width: 700px) {
    .div5 .container3 .contact{
    width: 75%;
    display: flex;
    justify-content: space-between;
    }
}

@media (max-width: 500px) {
    .div5 .container3 .contact{
    width: 100%;
    display: flex;
    justify-content: space-between;
    }
}

/* .div5 .container3 .contact {
    width: 35%;
    margin: auto;
    justify-content: space-between;
}

.div5 .container3 .social {
    width: 35%;
    height: 20%;
    margin: auto;
    justify-content: space-between;
}   */

/* .fixed_footer{
  width: 100%;
  height: 250px;
  background: #111;
  position: relative;
  z-index: 0;
}

.fixed_footer p{
    color: #696969;
    column-count: 2;
    column-gap: 50px;
    font-size: 1em;
    font-weight: 300;
} */